<footer class="page-footer">
 <div class="container">
   <div class="container">
     <div class="row">
     <div class="col-md-1 col-sm-1 d-none d-sm-block">
     <a href="https://radiopreservation.org/"><img class="img-fluid" alt="RPTF logo" src="/assets/images/rptf-logo.png"></a>
     </div>
     <div class="col-md-3 col-sm-2 d-none d-sm-block">
     <a href="http://arsc-audio.org/"><img class="img-fluid" alt="ARSC logo" src="/assets/images/arsc-logo.png"></a>
     </div>
     <div class="col-md-8 col-sm-9 col-xs-12"><p>This database is a project of the Library of Congress <a href="https://www.loc.gov/programs/national-recording-preservation-board/about-this-program/"><abbr title="National Recording Preservation Board">NRPB</abbr></a>, <a href="https://radiopreservation.org/"><abbr title="Radio Preservation Task Force">RPTF</abbr></a>, and <a href="http://arsc-audio.org"><abbr title="Associaton of Recorded Sound Collections">ARSC</abbr></a>.</p></div>
     </div>
   </div>

</footer>

<script src="/assets/vendor/popper.min.js"></script>
<script src="/assets/vendor/bootstrap.min.js"></script>
