---
---

@import "variables";
@import "header";
@import "custom-search";
@import "bootstrap/scss/bootstrap";
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.page-content ul > li::before {
	content: "";
}

#result::after {
 background-image: radial-gradient(rgb(0, 69, 152), white)
}

.main-content {
 max-width: none;
}

code {
  word-wrap: break-word;
}

.thumbnail {
  height: 175px;
}
.thumbnail img {
 height: 175px;
}

.searchResultMetadata {
  display: inline;
}


nav.bg-dark.topbar {
  background: $primary !important;
  ul li.nav-item a { color: #eee; }
  ul li.nav-item a:hover { color: #ccc; }
}

footer.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  padding-top: 15px;
  border-top: 1px rgb(231, 231, 231) solid;
  background-color: #f8f8f8;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/werd.jpg");
  min-height: 70vmin;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #ddd;
  border-radius: 0;

  p, h2, h3 {
    color: #ddd;
  }
  a {
    color: #fff;
  }
}


.vertical-align {
  // position: absolute;
  // text-align: right;
  // bottom: 0;
  // right: 60px;
}

@media only screen and (max-width: 767px) {
  .jumbotron p {
    font-size: 14px;
  }
  footer.page-footer {
    font-size: 10px;
  }
}

.collapse-arrow {
  border-bottom: 0;
}

.collapse-arrow img {
  transform: rotate(90deg);
  transition: .3s transform ease-in-out;
  display: inline-block;
}

.collapse-arrow button {
  font-weight: 500;
}

.collapse-arrow .collapsed img {
  transform: rotate(0deg);
}

#header_info {
  padding: 15px !important;
}

.facet-limit {
  margin-bottom: 1rem;
}

.facet-values {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;
}

.facet-values li {
  padding-right: 1em;
  text-indent: -15px;
  padding-left: 15px;
  padding-bottom: 0.5rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

.facet-values li a {
  color: $primary;
}
