---
layout: default
---

<div class="hero-image jumbotron full-width">
  <div class="container">
  <div class="row">
    <div class="col-md-6 hero-text">
      {{ content }}
      </div>
      <div class="col-md-6 vertical-align">Image: <a href="https://artsandculture.google.com/asset/werd-radio-station/NAGIYZDoGYaZPA">WERD radio station</a>, <a href="https://aaamc.indiana.edu/"><abbr title="Archives of African American Music and Culture">AAAMC</abbr></a></div>
    </div>
  </div>
  </div>
</div>
